@import url(https://fonts.googleapis.com/css?family=Seaweed+Script)
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script)

body

.label
  font-weight: bold
  cursor: initial

.button
  margin-top: 5px
  margin-left: 5px
  span
    font-weight: bold

.header
  background: #1fc8db
  background-image: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 71%, #2cb5e8 100%)

  .header-item
    color: #fff
    font-size: 2.2rem
    // font-family: 'Seaweed Script', cursive
    font-family: 'Kaushan Script', cursive

.control
  text-align: right
